<div>
    <h2>
        <span jhiTranslate="lenglishApp.room.home.title">Rooms</span>
        <button class="btn btn-primary float-right jh-create-entity create-room" [routerLink]="['/', { outlets: { popup: ['room-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lenglishApp.room.home.createLabel">
            Create new Room
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rooms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="lenglishApp.room.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="level"><span jhiTranslate="lenglishApp.room.level">Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activated"><span jhiTranslate="lenglishApp.room.activated">Activated</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="lenglishApp.room.title">Title</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms ;trackBy: trackId">
                <td><a [routerLink]="['../room', room.id ]">{{room.id}}</a></td>
                <td>{{room.createDate | date:'medium'}}</td>
                <td>{{room.level}}</td>
                <td>{{room.activated}}</td>
                <td>{{room.title}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../room', room.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room/'+ room.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room/'+ room.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="rooms && rooms.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
