<div>
    <br>
    <ul class="_31w80">
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="/info">Giới thiệu</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="https://schools.duolingo.com/">Học đường</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="https://englishtest.duolingo.com/">Duolingo English Test</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="/mobile">Thiết bị di động</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="http://gear.duolingo.com" target="_blank">Phụ kiện</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="https://support.duolingo.com/hc/en-us">Trợ giúp</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="/guidelines">Nội quy</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="/jobs">Việc làm</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="/terms">Điều khoản</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="/privacy">Quyền riêng tư</a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="http://twitter.com/duolingo">
                <span class="_1j0mA pw9G5 cCL9P"></span>
            </a>
        </li>
        <li class="_5Z2Hr">
            <a class="_2EoAJ" href="http://facebook.com/duolingo">
                <span class="_3Pi8p kCqiC cCL9P"></span>
            </a>
        </li>
    </ul>
</div>