<div>
    <h2>
        <span jhiTranslate="lenglishApp.comment.home.title">Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/', { outlets: { popup: 'app/comment-new/' + postId } }]">
            <span class="fa fa-plus"></span>
            <span>
                Bình luận
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div *ngIf="comments">
        <div class="row" *ngFor="let comment of comments ;trackBy: trackId">
            <div class="col-md-12 post">
                <hr>
                <div class="row post-content">
                    <div class="col-md-2">
                        <div>
                            <p style="margin-bottom:0">
                                <i class="fa fa-user" aria-hidden="true"></i>: {{comment.userLogin}}
                            </p>
                            <p style="margin-bottom:0">
                                <i class="fa fa-calendar" aria-hidden="true"></i>: {{comment.createDate | date:'dd/MM/yy'}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <p style="margin-bottom:0">
                            {{comment.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="comments && comments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>