<div>
    <h2>
        <span jhiTranslate="lenglishApp.answer.home.title">Answers</span>
        <button class="btn btn-primary float-right jh-create-entity create-answer" [routerLink]="['/', { outlets: { popup: 'admin/answer-new/'+ questionId } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="lenglishApp.answer.home.createLabel">
                Create new Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="answers">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">
                        <span jhiTranslate="global.field.id">ID</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="createDate">
                        <span jhiTranslate="lenglishApp.answer.createDate">Create Date</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="image">
                        <span jhiTranslate="lenglishApp.answer.image">Image</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="content">
                        <span jhiTranslate="lenglishApp.answer.content">Content</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="result">
                        <span jhiTranslate="lenglishApp.answer.result">Result</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="questionId">
                        <span jhiTranslate="lenglishApp.answer.question">Question</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let answer of answers ;trackBy: trackId">
                    <td>
                        <a [routerLink]="['../answer', answer.id ]">{{answer.id}}</a>
                    </td>
                    <td>{{answer.createDate | date:'medium'}}</td>
                    <td>
                        <a *ngIf="answer.image" (click)="openFile(answer.imageContentType, answer.image)">
                            <img [src]="'data:' + answer.imageContentType + ';base64,' + answer.image" style="max-height: 30px;" alt="answer image" />
                        </a>
                        <span *ngIf="answer.image">{{answer.imageContentType}}, {{byteSize(answer.image)}}</span>
                    </td>
                    <td>{{answer.content}}</td>
                    <td>{{answer.result}}</td>
                    <td>
                        <div *ngIf="answer.questionId">
                            <a [routerLink]="['../question', answer.questionId  ]">{{answer.questionId}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/admin/answer', answer.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'admin/answer/'+ answer.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'admin/answer/'+ answer.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="answers && answers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>