
<div *ngIf="comment">
    <h2><span jhiTranslate="lenglishApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lenglishApp.comment.createDate">Create Date</span></dt>
        <dd>
            <span>{{comment.createDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="lenglishApp.comment.content">Content</span></dt>
        <dd>
            <span>{{comment.content}}</span>
        </dd>
        <dt><span jhiTranslate="lenglishApp.comment.post">Post</span></dt>
        <dd>
            <div *ngIf="comment.postId">
                <a [routerLink]="['/post', comment.postId]">{{comment.postId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="lenglishApp.comment.user">User</span></dt>
        <dd>
            {{comment.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
