<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExamLogLabel" jhiTranslate="lenglishApp.examLog.home.createOrEditLabel">Create or edit a Exam Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!examLog.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="examLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lenglishApp.examLog.createDate" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="examLog.createDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lenglishApp.examLog.complete" for="field_complete">Complete</label>
            <input type="number" class="form-control" name="complete" id="field_complete"
                [(ngModel)]="examLog.complete" required min="0" max="5" />
            <div [hidden]="!(editForm.controls.complete?.dirty && editForm.controls.complete?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.complete?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.complete?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.complete?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 5 }">
                    This field cannot be more than 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.complete?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lenglishApp.examLog.point" for="field_point">Point</label>
            <input type="number" class="form-control" name="point" id="field_point"
                [(ngModel)]="examLog.point"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lenglishApp.examLog.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="examLog.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lenglishApp.examLog.exam" for="field_exam">Exam</label>
            <select class="form-control" id="field_exam" name="exam" [(ngModel)]="examLog.examId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="examOption.id" *ngFor="let examOption of exams; trackBy: trackExamById">{{examOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
