<!-- Small boxes (Stat box) -->
<div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        <span *ngIf="dashboard">{{dashboard.totalUser}}</span>
                    </h3>
                    <p>Users</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        <span *ngIf="dashboard">{{dashboard.totalPost}}</span>
                    </h3>

                    <p>Posts</p>
                </div>
                <div class="icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        <span *ngIf="dashboard">{{dashboard.totalLesson}}</span>
                    </h3>

                    <p>Lesson</p>
                </div>
                <div class="icon">
                    <i class="fa fa-btc" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        <span *ngIf="dashboard">{{dashboard.totalExam}}</span>
                    </h3>

                    <p>Exams</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <h3 class="box-title">Latest User</h3>
    <div class="row">
        <!-- /.box-header -->
        <div class="container">
            <div class="table-responsive ">
                <table class="table no-margin ">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Created Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="dashboard">
                        <tr *ngFor="let user of dashboard.lastedUser ">
                            <td>
                                {{user.login}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td>{{user.createdDate | date:"hh:mm dd/MM/yy "}}</td>
                            <td>
                                {{user.activated}}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

</div>