<div *ngIf="post" style="padding: 20px;">
    <h4>

        <span routerLink="../" class="fa fa-arrow-left"></span>&nbsp;
        <span>Chủ đề: </span>
        <span>{{post.title}}</span>
    </h4>
    <hr>
    <span>
        Người tạo:{{post.userLogin}} - Ngày tạo:{{post.createDate | date:'hh:mm dd/MM/yyyy'}}
    </span>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt></dt>
        <dt>
            <span jhiTranslate="lenglishApp.post.content">Content</span>
        </dt>
        <dd>
            <span [innerHTML]="post.content"></span>
        </dd>   
    </dl>
    <!-- <button type="button" [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button> -->
    <jhi-comment [postId]="post.id"></jhi-comment>
</div>