<div *ngIf="room" style="padding:20px;">
    <h2>
        <i class="fa fa-arrow-left" aria-hidden="true" (click)="onOut()"></i>{{room.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div>
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="clearfix" *ngFor="let message of trackerService.messages" [ngClass]="{'left': message.sender == account.login,
                                    'right': message.sender !== account.login}">
                                    <span class="chat-img" [ngClass]="{'pull-left': message.sender == account.login,
                                        'pull-right': message.sender !== account.login}">
                                        <img *ngIf="message.image" [src]="'data:' + message.iconContentType + ';base64,' + message.image" alt="User Avatar" class="img-circle"
                                            width="50px" />
                                        <i *ngIf="!message.image" class="fa fa-user-circle-o fa-3x" aria-hidden="true" item-width="50px"></i>
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="text-muted" *ngIf="message.sender !== account.login">
                                                <span class="glyphicon glyphicon-time"></span>{{message.time}}</small>
                                            <strong class="primary-font" [ngClass]="{'pull-right': message.sender !== account.login}">{{message.sender}}</strong>
                                            <small class="pull-right text-muted" *ngIf="message.sender == account.login">
                                                <span class="glyphicon glyphicon-time"></span>{{message.time}}</small>
                                        </div>
                                        <p *ngIf="message.type == 'JOIN'">
                                            Hi. Tôi mới tham gia!
                                        </p>
                                        <p *ngIf="message.type == 'CHAT'">
                                            {{message.content}}
                                        </p>
                                        <p *ngIf="message.type == 'LEAVE'">
                                            Bye. Tôi rời khỏi phòng đây!
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" (keydown.enter)="sendMessage();" [(ngModel)]="message" class="form-control input-sm" placeholder="Type your message here..."
                                />

                                <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage();">
                                    Send</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>