#wrapper {
    background: #F0F0F0;
}

.progress{
    background-color: #ced4dd;
}

.footer {
    background: #e7e7e7;
}

.footer .row {
    height: 150px;
}

.success {
    background-color: #BFF199;
}

.fail {
    background-color: #FFD3D1;
}

.feedback {
    margin-top: 50px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 98px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    height: 50px;
    width: 100%;    
}

.skip {
    color:  #b4b3b3;    
    margin-top: 50px;
    vertical-align: middle;
    display: inline-block;
    border-color: #D3D3D3;
    border: 2px solid;
    border-radius: 98px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    height: 50px;
    width: 100%;    
}

.next {
    color:  #b4b3b3;
    margin-top: 50px;
    border-color: #bfbfbf;
    top: 41px;
    border: 2px solid;
    border-radius: 98px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}


.check_fail {
    border-color: #E70800;
    color: #ffffff;
    background-color: #E70800;
}
.check_success {
    border-color: #65AB00;
    color: #ffffff;
    background-color: #65AB00;
}

.selection ul {
    padding: 0;
    text-align: center;
}

.selection ul li{
    list-style-type: none;
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
}