
#lesson-tree ul {
	list-style: none;
}


#lesson-tree li {
	text-align: center;
	margin: 30px auto;

}

#lesson-tree li .lesson span {
	width: 200px;
	display: inline-block;
	text-align: center;

}

#lesson-tree li a {
	font-weight: bold;

}
