<div style="padding: 20px;">
    <jhi-alert></jhi-alert>
    <div id="content" *ngIf="action">
        <div style="display: block" *ngIf="action.selection != 0 || action.listening != 0 || action.translation != 0">
            <h3>Kĩ năng</h3>
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
        <br>
        <br>
        <div style="display: block">
            <h3>Hoạt đông trong 7 ngày</h3>
            <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <br>
</div>