<!-- Sidebar -->
<div id="sidebar-wrapper" class="active">
    <ul class="sidebar-nav">
        <li>
            <a class="dropdown-item" routerLink="dashboard" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span >Dashboard</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="comment" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.comment">Comment</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="room" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.room">Room</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="lesson" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.lesson">Lesson</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="feedback" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.feedback">Feedback</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="question" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.question">Question</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="exam" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.exam">Exam</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="customer-user" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.customerUser">Customer User</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="post" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span jhiTranslate="global.menu.entities.post">Post</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="docs" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span>API</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="jhi-tracker" routerLinkActive="active">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                <span>Tracker</span>
            </a>
        </li>
        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
    </ul>
</div>