<div *ngIf="question">
    <h2>
        <span jhiTranslate="lenglishApp.question.detail.title">Question</span> {{question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt>
            <span jhiTranslate="lenglishApp.question.createDate">Create Date</span>
        </dt>
        <dd>
            <span>{{question.createDate | date:'medium'}}</span>
        </dd>
        <dt>
            <span jhiTranslate="lenglishApp.question.questionType">Question Type</span>
        </dt>
        <dd>
            <span jhiTranslate="{{'lenglishApp.QuestionType.' + question.questionType}}">{{question.questionType}}</span>
        </dd>
        <dt>
            <span jhiTranslate="lenglishApp.question.content">Content</span>
        </dt>
        <dd>
            <span>{{question.content}}</span>
        </dd>
        <dt>
            <span jhiTranslate="lenglishApp.question.image">Image</span>
        </dt>
        <dd>
            <div *ngIf="question.image">
                <a (click)="openFile(question.imageContentType, question.image)">
                    <img [src]="'data:' + question.imageContentType + ';base64,' + question.image" style="max-width: 100%;" alt="question image"
                    />
                </a>
                {{question.imageContentType}}, {{byteSize(question.image)}}
            </div>
        </dd>
        <dt>
            <span jhiTranslate="lenglishApp.question.resource">Resource</span>
        </dt>
        <dd>
            <div *ngIf="question.resource">
                <a (click)="openFile(question.resourceContentType, question.resource)" jhiTranslate="entity.action.open">open</a>
                {{question.resourceContentType}}, {{byteSize(question.resource)}}
            </div>
        </dd>
        <dt>
            <span jhiTranslate="lenglishApp.question.lesson">Lesson</span>
        </dt>
        <dd>
            <div *ngIf="question.lessonId">
                <a [routerLink]="['/lesson', question.lessonId]">{{question.lessonId}}</a>
            </div>
        </dd>
        <dt>
            <span jhiTranslate="lenglishApp.question.exam">Exam</span>
        </dt>
        <dd>
            <span *ngFor="let exam of question.exams; let last = last">
                <a [routerLink]="['/exam', exam?.id ]">{{exam.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'question/'+ question.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
    <jhi-answer [questionId]="question.id"></jhi-answer>
</div>